In [5]:
import pandas as pd
import sys
sys.path.insert(0, '/home/istywhyerlina/PipelinePyspark/exercise4/data_pipeline_exercise_4')
from script.helper.db_conn import db_connection
from pangres import upsert
from script.etl.extract import *

from sqlalchemy import *

In [6]:
car_brand=extract_sheet(key_file, "brand_car")
car_sales=extract_db("car_sales", "src")
us_state=extract_api("https://raw.githubusercontent.com/Kurikulum-Sekolah-Pacmann/us_states_data/refs/heads/main/us_states.json")

Extract Data Brand Car Spreadsheet from Source is Succeed
Extract Data car_sales from Source is Succeed
Extract Data us_state from API source is Succeed

In [14]:
car_brand.dtypes

0
brand_car_id    object
brand_name      object
dtype: object

In [15]:
car_sales.dtypes

id_sales          int64
year              int64
brand_car        object
model            object
trim             object
body             object
transmission     object
vin              object
state            object
condition       float64
odometer        float64
color            object
interior         object
seller           object
mmr             float64
sellingprice    float64
saledate         object
dtype: object

In [17]:
us_state.dtypes

id_state     int64
code        object
name        object
dtype: object